.btn {
    background-color: #8a2be2; /* Violeta */
    color: #ffffff;
    display: inline-block;
    border-radius: 30px;
    padding: 10px 20px;
    text-decoration: none;
    transition: ease .5s all;
    border: none;
    cursor: pointer;
}

.btn:hover {
    background-color: #6a1f9e; /* Violeta mais escuro */
}

.btn.orange {
    background-color: #fed136;
}

.btn.orange:hover {
    background-color: black;
}